# Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-arg.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.ipynb_checkpoints
.mypy_cache/
*.egg-info/

# DVC's ignore file should be tracked by Git
*.dvcignore
# DVC metadata files should be tracked by Git
/data/raw/*
/data/processed/*
/models/*.pkl
!/data/.gitkeep

# MLflow-specific files and directories
mlruns/

# MLflow artifacts and data
mlflow-data/
# MLflow experiment tracking data

# Operating system and editor files
.DS_Store
.vscode/
*.log
*.tmp
*~

# Jupyter Notebook files (optional, if you use Jupyter and want to ignore outputs)
.ipynb_checkpoints/

# Grafana data directory
grafana-data/

# Radis data directory
redis-data/